body {
  font-family: "Poppins", "Comic Neue", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* top header */
.top-header {
  background-color: black;
  color: #fff;
}
.top-header h3 {
  font-size: 12px;
  font-weight: 400;
  padding: 5px 0;
  margin: 10px 0;
}
.top-header .support i {
  font-size: 14px;
  padding: 5px 0;
  margin: 10px 5px;
}
.social-links {
  font-size: 14px;
}
.social-links .round-btn a {
  background-color: transparent;
  color: #ccc;
  font-size: 12px;
  text-decoration: none;
}
.social-links .round-btn {
  margin: 12px 20px;
  list-style: none;
}
.social-links .fa-facebook-f:hover {
  color: #3b5998;
}
.social-links .fa-twitter:hover {
  color: #1998c8;
}
.social-links .fa-youtube:hover {
  color: #ae1e1a;
}
.social-links .fa-square-rss:hover {
  color: #eb632d;
}
form .btn {
  border: 1px solid #009579;
  color: #000;
}
form .btn:hover {
  background-color: #009579;
  color: #fff;
}
.dropdown {
  text-decoration: none;
}
.Borderbottom {
  border-bottom: 1px solid #ccc;
}
.dropdown-menu {
  display: none;
  min-width: 12rem;
  padding-top: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.dropdown-menu.show .drop-menu {
  background-color: #333;
  color: #fff;
  display: block;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  background-color: #212529;
  border-radius: 0;
  padding: 0;
}
.navbar-expand-lg .navbar-nav .dropdown-menu a {
  text-decoration: none;
  color: #ccc;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
}
.navbar-expand-lg .navbar-nav .dropdown-menu a:hover {
  color: #000;
}
.dropdown:hover .dropdown-menu {
  display: block;
  left: 5px;
}
/*  search box */
.search_block {
  background: #006c6e;
  padding: 14px 137px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;
}
.search_logo input {
  border: 2px solid #ddd;
  display: inline-block;
  margin-right: auto;
  padding: 6px;
  width: calc(100% - 112px);
}
.search_logo.display-flex button {
  background: #e6e4e4;
  border: none;
  color: #006c6e;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 39px;
  margin-right: 2px;
  text-align: center;
  width: 50px;
}
.search_logo.display-flex a {
  background: #e6e4e4;
  border: none;
  color: #c4161c;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 41px;
  text-align: center;
  width: 50px;
}
.hidden {
  display: none;
}
/* main header */
.main-header {
  background-color: #fff;
}

.logo i {
  font-size: 30px;
  color: #009579;
  margin: 2px 6px 0 -10px;
}
.logo a {
  color: #000;
  font-weight: 700;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 14px;
}
.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
  transition: 0.2s;
  box-shadow: 0 0 2px 0 #00000051;
  background-color: #fff;
}
/* hero-img */
.login form {
  margin-bottom: 2rem;
}
.carousel-item img {
  height: 550px;
}
.carousel-caption {
  right: 34%;
  left: 34%;
  color: #fff;
  text-align: center;
}

.form h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}
.carousel-item input {
  background-color: transparent;
  color: #fff;
}
.form input {
  height: 45px;
  width: 88%;
  padding: 0px 43px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
}
.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.form a {
  font-size: 16px;
  color: #f4f4f4;
  text-decoration: none;
}
.form a:hover {
  text-decoration: underline;
}
.form input.button {
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
  width: 38%;
}
.form input.button:hover {
  background: #006653;
}
/* offers */
.offers {
  padding-top: 80px;
}
.offer-title-header {
  border-left: 5px solid #009579;
  padding: 0px 10px;
}
.offer-title-header h2 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}
.offer-title-header p {
  font-size: 15px;
  line-height: 1;
}
.offer-card .card {
  border-radius: 0;
  border: 1px solid #ccc;
}
.offer-card {
  padding-top: 30px;
}
.card-body .card-title {
  font-size: 16px;
  font-weight: 700;
}
.card-body .card-text {
  font-size: 14px;
}
/* travel agents */
.travel-agent {
  padding-top: 40px;
  padding-bottom: 40px;
}
.travel-agent-header {
  border-left: 5px solid #009579;
  padding: 0px 10px;
}
.travel-agent-header h2 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}
.travel-agent-header p {
  font-size: 15px;
  line-height: 1;
}
.travel-agent-area {
  padding-top: 40px;
}
/* discover bd */
.discover-bd {
  padding-top: 40px;
  padding-bottom: 40px;
}
.discover-bd-header {
  border-left: 5px solid #009579;
  padding: 0px 10px;
}
.discover-bd-header h2 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}
.discover-bd-header p {
  font-size: 15px;
  line-height: 1;
}
.discover-bd-area {
  padding-top: 40px;
}
.dis-bd-1 {
  margin-top: 20px;
}
.dis-bd-2 {
  margin-top: 20px;
}
.card-img-overlay h3 {
  font-weight: 700;
  color: #fff;
}
.card-img-overlay h3 i {
  font-size: 24px;
  color: #ccc;
  padding: 0px 5px;
}
.card {
  border: none;
  border-radius: 0;
}

/* travel package */
.travel-package {
  padding-top: 40px;
  padding-bottom: 40px;
}
.package-header {
  border-left: 5px solid #009579;
  padding: 0px 10px;
}
.package-header h2 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}
.package-header p {
  font-size: 15px;
  line-height: 1;
}
.package-area {
  padding-top: 40px;
}
.card-body .btn {
  background-color: #006653;
  color: #fff;
  justify-content: center;
}
.card-body .btn:hover {
  color: #fff;
  background-color: #000;
}
.package-area .card-body {
  text-align: center;
}
.package-area .card {
  border: 1px solid #ddd;
}
.package-area .card-body h5 {
  font-size: 18px;
}
.package-area .card-body p {
  font-size: 14px;
  color: gray;
  padding: 0;
  line-height: 1;
}
.package-area .card-body span {
  color: red;
  font-weight: 600;
}
/* photo gallery */
.photo-gallary {
  padding-top: 40px;
  padding-bottom: 40px;
}
.photo-gallery-header {
  border-left: 5px solid #009579;
  padding: 0px 10px;
}
.photo-gallery-header h2 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}
.photo-gallery-header p {
  font-size: 15px;
  line-height: 1;
}
.gallery-area {
  padding-top: 40px;
}

.image {
  position: relative;
  overflow: hidden;
}
.gallery {
  padding-top: 25px;
}

.image img {
  transition: transform 0.3s;
  width: 100%;
  height: auto;
}

.image:hover img {
  transform: scale(1.1);
}
/* testimonial */
.Border {
  border-right: 1px solid #ccc;
}
.testimonial-section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.testimonial-area {
  padding-top: 40px;
}

.testimonial {
  padding: 0px 20px 20px;
  background-color: #cccccc36;
  color: #000;
}

.testimonial-sec {
  position: relative;
  padding: 10px 0;
  text-align: center;
}
.user-profile {
  padding-top: 30px;
}

.user-profile .user-img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  /* margin-left: 0px; */
}
.user-details {
  padding: 0px 10px 10px;
}
.user-details h2 {
  font-size: 14px;
  font-size: 600;
  line-height: 28px;
  letter-spacing: -0.3px;
  font-family: "Poppins", sans-serif;
}
.user-details p {
  font-size: 12px;
  color: #ccc;
  line-height: 1;
}
.quote {
  font-style: italic;
  color: #000;
  font-weight: 400;
  font-size: 14px;
}
/* .testimony {
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  color: #006660;
  font-weight: 400;
}

.testimonial-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.testimonial img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
} */

.author {
  margin-top: 10px;
  color: #006660;
  font-weight: 600;
}
*/
/* subscribe */
.subscribe {
  padding-top: 40px;
  padding-bottom: 40px;
}
.subscribe-area {
  text-align: center;
  align-items: center;
  padding: 50px;
  background-color: #006653;

  color: #fff;
}
.subscribe-area h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: -0.3px;
}
.subscribe-area p {
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
}
.subscribe-form {
  margin-left: 35%;
  margin-top: 25px;
}
.subscribe-form input {
  padding: 10px 20px;
}
.subscribe-button {
  padding: 0 10px;
}
.subscribe-button button {
  padding: 11px;
  background: #fff;
  color: #000;
  border: 2px solid #006610;
}
.subscribe-button button:hover {
  padding: 10px;
  background: #000;
  color: #fff;
}

/* footer */
/* footer start */
.footer-area {
  background-color: #000;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-area h3 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.3;
}
.footer-area h3 i {
  font-size: 16px;
  font-weight: 600;
}
.footer-area h4 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.3;
  line-height: 1.5;
  margin: 0 15px 10px;
}
.footer-end {
  border-top: 1px solid #979692;
}
.footer-end h4 {
  text-align: center;
  padding: 10px 10px;
}
