body {
  font-family: "Poppins", "Comic Neue", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* common */
.section-heading {
  border-left: 5px solid #009579;
  padding: 0px 10px;
  margin-bottom: 40px;
}
.section-heading a{
  text-decoration: none;
}
.section-heading a h2 {
  font-size: 27px;
  font-weight: 600;
  color: #000;

}
.section-heading a h2:hover{
  color: #006653;
}

.section-heading p {
  font-size: 15px;
  line-height: 1;
  margin-top: 10px;

}

/* top header */
.top-header {
  background-color: black;
  color: #fff;
  padding: 5px 0;
}

.top-header h3 {
  font-size: 12px;
  font-weight: 400;
  padding: 5px 0;
  margin-bottom: 0;
}
.top-header .support i {
  font-size: 14px;
  padding: 5px 0px;
  margin-right: 10px;
}

.social-links {
  font-size: 14px;
}

.social-links .round-btn a {
  background-color: transparent;
  color: #ccc;
  margin-left: 12px;
  text-decoration: none;
}

.round-btn a i {
  font-size: 14px;
  border: 1px solid #fff;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
}

.social-links .round-btn {
  list-style: none;
}

.social-links .fa-facebook-f:hover {
  color: #3b5998;
}

.social-links .fa-twitter:hover {
  color: #1998c8;
}

.social-links .fa-youtube:hover {
  color: #ae1e1a;
}

.social-links .fa-square-rss:hover {
  color: #eb632d;
}

form .btn {
  border: 1px solid #009579;
  color: #000;
}

form .btn:hover {
  background-color: #009579;
  color: #fff;
}

.dropdown {
  text-decoration: none;
  border: 0;
  padding: 0;
}

.Borderbottom {
  border-bottom: 1px solid #ccc;
}

.dropdown-menu {
  display: none;
  min-width: 12rem;
  padding-top: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.dropdown-menu.show .drop-menu {
  background-color: #009579;
  color: #fff;
  display: block;
}
.navbar {
  padding: 0;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  border-radius: 0;
  padding: 0;
}
.navbar-expand-lg .navbar-nav .dropdown-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  background-color: #009579;
  padding: 8px 20px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu a:hover {
  color: #009579;
  background-color: #fff;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

/*  search box */
.search_block {
  background: #009579;
  padding: 14px 137px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;
}

.search_logo input {
  border: 2px solid #ddd;
  display: inline-block;
  margin-right: auto;
  padding: 6px;
  width: calc(100% - 112px);
}

.search_logo.display-flex button {
  background: #e6e4e4;
  border: none;
  color: #009579;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 39px;
  margin-right: 2px;
  text-align: center;
  width: 50px;
}

.search_logo.display-flex a {
  background: #e6e4e4;
  border: none;
  color: #c4161c;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 41px;
  text-align: center;
  width: 50px;
}

.hidden {
  display: none;
}

/* main header */
.main-header {
  background-color: #fff;
  padding: 5px;
}

.logo i {
  font-size: 25px;
  color: #009579;

}

.logo a {
  color: #000;
  font-weight: 700;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link {
  font-size: 16px;
  padding: 12px 20px;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #009579;
}

.main-header .navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0;
}

.main-header .navbar-brand h2 {
  font-size: 27px;
  padding: 0px 5px;
  margin-bottom: 0;
}
.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
  transition: 0.2s;
  box-shadow: 0 0 2px 0 #00000051;
  background-color: #fff;
}

.navbar-nav .nav-item .nav-link i:last-child {
  margin: 0px;
}

/* hero-img */
.hero-area{
  padding: 80px 0;
}
.carousel-item img {
  height: 550px;
  object-fit: cover;
}
.form-title h1 {
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 50px;
}
.form-text{
  color: #f4f4f4;
}
/* .form h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
} */
.form-input input{
  border-radius: 0;
  margin-bottom: 15px;
  padding: 12px 20px;
  font-size: 17px;
  border: 1px solid #ddd;
  background-color: transparent;
	color: #fff;
	width: 100%;
	
}

/* .form input {
  margin-bottom: 20px;
  padding: 12px 20px;
  font-size: 17px;
  border: 1px solid #ddd;
  outline: none;
  width: 100%;
} */
.signup{
  margin-top:10px ;
}
.signup a {
  font-size: 16px;
  color: #f4f4f4;
  text-decoration: none;
}
.login-btn button{
  color: #fff;
  background: #009579;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px 50px;
  width: auto;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
}
/* .form input.button {
  color: #fff;
  background: #009579;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px 50px;
  width: auto;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
} */
.login-btn button:hover {
  color: #fff;
  background-color: #000;
}
/* offers */

.offer-area {
  padding: 80px 0 40px 0;
}

.offer-card {
  border: 1px solid #eee;
  padding: 15px;
}
.offer-card-body a {
  text-decoration: none;
}
.offer-card-body h5 {
	font-size: 19px;
	font-weight: 600;
	line-height: 19px;
	color: #000;
	margin-bottom: 20px;
}
.offer-card-body h5:hover{
  color:  #009579;
}
.offer-card-body p {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
 margin-bottom: 20px;
 color: #000;
}
.offer-card-body p small {
  color: #333;
  font-size: 13px;
  line-height: 13px;
}
.offer-img{
  overflow: hidden;
}
.offer-img img{
  transform: scale(1);
  transition: all 0.5s ease;
}
.offer-img img:hover{
  transform: scale(1.1);
}


/* travel-agent-area-start */
.travel-agent-area {
  padding: 40px 0;
}

.travel-img{
  overflow: hidden;
}
.travel-img img{
  transform: scale(1);
  transition: all 0.5s ease;
}
.travel-img img:hover{
  transform: scale(1.1);
}

/*travel-agent-area-end   */

/* discover bd */
.discover-bd-area {
  padding: 40px 0;
}

.discover-wrap {
  position: relative;
  margin-bottom: 24px;
}
.discover-img{
  overflow: hidden;
}
.discover-img img{
  transform: scale(1);
  transition: all 0.5s ease;
}
.discover-img img:hover{
  transform: scale(1.1);
}
.discover-text {
  position: absolute;
  top: 10px;
  left: 10px;
}

.discover-text h3 {
  font-weight: 700;
  color: #fff;
  font-size: 24px;
  margin-left: 10px;
}
.discover-text h3:hover{
  color: #009579;
}

.discover-text h3 i {
  font-size: 20px;
  color: #ccc;

}


/* travel package */
.package-area {
  padding: 40px 0;
}

.package-slider .slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.package-slider .slick-slide {
  margin-left: 15px;
  margin-right: 15px;
}

.package-slider .item {
  border: 1px solid #eee;
}

.package-slider .slick-list {
  margin-left: -15px;
  margin-right: -15px;

}

.package-slider .slick-dots li button::before {
  font-size: 10px;
  color: #009579;

}

.package-slider .slick-dots li.slick-active button::before {
  opacity: .75;
  color: #009579;
}
.package-img{
  overflow: hidden;
}
.package-img img{
  transform: scale(1);
  transition: all 0.5s ease;
}
.package-img img:hover{
  transform: scale(1.1);

}

.package-body .btn {
  background-color: #009579;
  color: #fff;
  margin-bottom: 15px;
  border-radius: 0;
  font-size: 16px;
  padding: 8px 20px;
}

.package-body .btn:hover {
  color: #fff;
  background-color: #000;
}

.package-area .package-body {
  text-align: center;
  padding-top: 15px;
}

.package-area .package-body h5 {
  font-size: 18px;
  margin-bottom: 12px;
  color:#000;
}
.package-area .package-body h5:hover{
  color: #009579;
}

.package-area .package-body p {
  font-size: 14px;
  color: gray;
  padding: 0;
  line-height: 1;
  margin-bottom: 15px;
}

.package-area .package-body span {
  color: red;
  font-weight: 600;
}
.item a{
  text-decoration: none;
}

/* photo gallery */

.gallery-image {
 margin-bottom: 24px;
 overflow: hidden;
}

.gallery-image img {
  transform: scale(1);
  transition: all 0.5s ease;
}


.gallery-image img:hover  {
  transform: scale(1.1);

}

/* gallery-area-start */
.gallery-area {
  padding: 40px 0;
}

/* gallery-area-end */
/* testimonial */
.testimonial-area {
  padding: 40px 0;
}


.testimony{
  margin-bottom: 24px;
}
.testimonial-details {
  padding: 20px;
  background-color: #009579;
  color: #fff;

}

.testimonial-sec {
  position: relative;
  padding: 10px 0;
  text-align: center;
}


.user-profile .user-img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}



.user-details {
  padding: 0px 10px 10px;
}
.user-details a{
  text-decoration: none;
}

.user-details a h2 {
	font-size: 18px;
	font-size: 600;
	line-height: 18px;
	letter-spacing: -0.3px;
	font-family: "Poppins", sans-serif;
	padding-top: 10px;
  color: #fff;
}

.user-details p {

    font-size: 12px;
    color: #f4f4f4;
    line-height: 25px;

}
.quote {
	font-style: italic;
	color: #ffff;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
}
/* .testimony {
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  color: #006660;
  font-weight: 400;
}

.testimonial-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.testimonial img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
} */


/* subscribe */
.subscribe-page-area {
  margin-top: 40px;
}

.subscribe-details {
  text-align: center;
  padding: 40px;
  background-color: #006653;
  color: #fff;
}

.subscribe-details li a {
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.3px;
}
.subscribe-text h3{
  font-size: 35px;
  line-height: 40px;

  color: #fff;
}
.subscribe-text p {
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	padding-top: 20px;
	color: #fff;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.subscribe-form input {
  padding: 10px 20px;
  border-radius: 0;
}

.subscribe-button {
  padding: 0px 10px;
}

.subscribe-button button {

  color: #fff;
  background-color: #000;
  border: 2px solid #006610;
  padding: 10px;
}

.subscribe-button button:hover {
  color: #006653;
 
}

/* footer */

.footer-area {
  background-color: #000;
  color: #fff;

}
.footer-info {
		padding: 40px 0;
    
}
.footer-info ul{
  margin: 0;
  padding: 0;
}

.footer-info ul li {
  list-style: none;
  margin-bottom: 10px;

}

.footer-info ul li a{
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  line-height: 14px;
  margin-right: 5px;
  width: 30px;
}

.footer-info ul li a:hover {
  color: #009579;
}

.footer-info ul li a i {
  font-size: 12px;
  margin-right: 15px;
  color: #fff;
}
.footer-info ul li a i:hover{
  color: #009579;

}


.footer-copyright {
  border-top: 1px solid #979692;
}

.footer-end p {
 
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.3;
  line-height: 14px;
  text-align: center;
  padding: 20px 0;

}
.footer-end a {
  text-decoration: none;
}

.footer-end a span {
  color: #009579;
}

/* responsive */

/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  /* common-start */
  .section-heading a h2 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
  }
  .section-heading p {
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
  }
  /* common-end */
  .main-header .navbar-brand h2 {
    font-size: 25px;
    padding: 0px 5px;
    margin-bottom: 0;
  }
  .login-btn button {
    color: #fff;
    background: #009579;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px 50px;
    width: auto;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
  }
 .offer-card-area{
  margin-bottom: 20px;
}
.offer-card {
	border: 1px solid #eee;
	padding: 32px;
}
.offer-card-body h5 {
	font-size: 18px;
	font-weight: 600;
	line-height: 19px;
	color: #000;
	margin-bottom: 20px;
}
.offer-card-body p {
	font-size: 14px;
	font-weight: 400;
	line-height: 15px;
	margin-bottom: 20px;
	color: #000;
}
.offer-card-body p small {
	color: #333;
	font-size: 12px;
	line-height: 13px;
}
.travel-img{
  margin-bottom: 20px;
}
.gallery-image-area{
  margin-bottom: 20px;
}
.package-area .package-body h5 {
	font-size: 16px;
	margin-bottom: 12px;
	color: #000;
}
.package-body .btn {
	background-color: #009579;
	color: #fff;
	margin-bottom: 15px;
	border-radius: 0;
	font-size: 14px;
	padding: 8px 20px;
}
.discover-text h3 {
	font-weight: 700;
	color: #fff;
	font-size: 20px;
	margin-left: 10px;
}
.user-details a h2 {
	font-size: 16px;
	font-size: 600;
	line-height: 18px;
	letter-spacing: -0.3px;
	font-family: "Poppins", sans-serif;
	padding-top: 10px;
	color: #fff;
}

}

 
/* Extra small Device. */
@media (max-width: 767px) {

 
}
 
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
/* common-start  */
.section-heading a h2 {
	font-size: 22px;
	font-weight: 600;
	color: #000;
}
.section-heading p {
	font-size: 12px;
	line-height: 1;
	margin-top: 10px;
}
/* common-end */


  .top-header{
    display: none;
  }
  .main-header .navbar-brand h2 {
    font-size: 22px;
    padding: 0px 5px;
    margin-bottom: 0;
  }
  .logo i {
    font-size: 20px;
    color: #009579;
  }
  .form-title h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 60px;
  }
  .login-btn button {
    color: #fff;
    background: #009579;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px 40px;
    width: auto;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
  }
  .offer-card-body h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #000;
    margin-bottom: 15px;
  }
  .offer-card-body p {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 15px;
    color: #000;
  }
  .offer-card-body p small {
    color: #333;
    font-size: 11px;
    line-height: 13px;
  }
  .discover-text h3 {
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    margin: 15px;
  }
  .package-area .package-body h5 {
    font-size: 16px;
    margin-bottom: 12px;
    color: #000;
  }
  .package-area .package-body p {
    font-size: 12px;
    color: gray;
    padding: 0;
    line-height: 1;
    margin-bottom: 15px;
  }
  .package-body .btn {
    background-color: #009579;
    color: #fff;
    margin-bottom: 15px;
    border-radius: 0;
    font-size: 14px;
    padding: 5px 15px;
  }
  .travel-img{
    margin-bottom: 20px;
  }
  .offer-card-area{
    margin-bottom: 20px;
  }
  .form-input input {
    border-radius: 0;
    margin-bottom: 30px;
    padding: 12px 20px;
    font-size: 17px;
    border: 1px solid #ddd;
    background-color: transparent;
    color: #fff;
    width: 100%;
  }
  .gallery-image {
    margin-bottom: 20px;
    overflow: hidden;
  }
  .subscribe-text h3 {
    font-size: 30px;
    line-height: 40px;
    color: #fff;
  }
  .subscribe-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    padding-top: 12px;
    color: #fff;
  }
  .subscribe-button {
    padding: 0px 5px;
  }
  .subscribe-button button {
    color: #fff;
    background-color: #000;
    border: 2px solid #006610;
    padding: 10px;
    font-size: 14px;
  }
  .footer-end p {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.3;
    line-height: 22px;
    text-align: center;
    padding: 15px 0;
  }
  .footer-info {
    padding: 20px 0;
  }
}
/* SM Small Device :320px. */
@media only screen and (min-width: 320px) and (max-width: 550px){
/* common-start  */
.section-heading a h2 {
	font-size: 22px;
	font-weight: 600;
	color: #000;
}
.section-heading p {
	font-size: 12px;
	line-height: 1;
	margin-top: 10px;
}
/* common-end */
  .top-header{
    display: none;
  }
  .main-header .navbar-brand h2 {
    font-size: 18px;
    padding: 0px 5px;
    margin-bottom: 0;
  }
  .logo i {
    font-size: 18px;
    color: #009579;
  }
  .form-title h1 {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 70px;
  }
  .form-input input {
    border-radius: 0;
    margin-bottom: 20px;
    padding: 8px 20px;
    font-size: 17px;
    border: 1px solid #ddd;
    background-color: transparent;
    color: #fff;
    width: 100%;
  }
  .login-btn button {
    color: #fff;
    background: #009579;
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px 40px;
    width: auto;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
  }
  .signup {
    margin-top: 30px;
    font-size: 14px;
  }
  .offer-card-body h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #000;
    margin-bottom: 15px;
  }
  .offer-card-body p {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 15px;
    color: #000;
  }
  .offer-card-body p small {
    color: #333;
    font-size: 11px;
    line-height: 13px;
  }
  .travel-img{
    margin-bottom: 20px;
  }
  .discover-text h3 {
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    margin: 5px;
  }
  .package-area .package-body h5 {
    font-size: 16px;
    margin-bottom: 20px;
    color: #000;
  }
  .package-area .package-body p {
    font-size: 13px;
    color: gray;
    padding: 0;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .package-body .btn {
    background-color: #009579;
    color: #fff;
    margin-bottom: 15px;
    border-radius: 0;
    font-size: 14px;
    padding: 5px 15px;
  }
  .user-details a h2 {
    font-size: 16px;
    font-size: 600;
    line-height: 18px;
    letter-spacing: -0.3px;
    font-family: "Poppins", sans-serif;
    padding-top: 10px;
    color: #fff;
  }
  .quote {
    font-style: italic;
    color: #ffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
  }
  .subscribe-text h3 {
    font-size: 22px;
    line-height: 30px;
    color: #fff;
  }
  .subscribe-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding-top: 15px;
    color: #fff;
  }
  .subscribe-form input {
    padding: 10px 10px;
    border-radius: 0;
  }
  .subscribe-button {
    padding: 0px 5px;
  }
  .subscribe-button button {
    color: #fff;
    background-color: #000;
    border: 2px solid #006610;
    padding: 10px;
    font-size: 14px;
  }
  .footer-info {
    padding: 15px;
  }
  .footer-end p {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.3;
    line-height: 22px;
    text-align: center;
    padding: 15px 0;
  }
}